{% extends 'apps/panel.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'apps/forms.css' %}">
{% endblock css %}
{% block content %}
<div class="form-control">
    <form method="POST">
        {% csrf_token %}
        {% for field in form  %}
            <div class="field">
                
                {{field.label_tag}}
                {{field}}
            {{field.errors}}
            </div>
        {% endfor %}
    
    <input id="submit" type="submit" value="تغيير">
</form>
</div>
{% endblock content %}
    
