{% extends 'apps/header.html' %}
{% load static %}
{% block title %}
    
{% endblock title %}
{% block content %}
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-md-6">
                 <h1 class="about_text">نبـذة عنا</h1>
                 <p class="lorem_text">{{about.text}}</p>
           </div>
        </div>
     </div>
     <!-- about section end --> 
{% endblock content %}