{% load static %}
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}
      Document
    {% endblock title %} </title>
          <!-- basic -->
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- mobile metas -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="viewport" content="initial-scale=1, maximum-scale=1">
          <!-- site metas -->
          <title>B.B.C</title>
          <meta name="keywords" content="">
          <meta name="description" content="">
          <meta name="author" content="">
          <!-- bootstrap css -->
          <link rel="stylesheet" type="text/css" href="{% static '/apps/bootstrap.min.css' %} ">
          <!-- style css -->
          <link rel="stylesheet" type="text/css" href="{% static '/apps/style.css' %} ">
          <!-- Responsive-->
          <link rel="stylesheet" href="{% static '/apps/responsive.css' %} ">
          <!-- fevicon -->
          <link rel="icon" href=" {% static '/apps/fevicon.png' %} " type="image/gif" />
          <!-- Scrollbar Custom CSS -->
          <link rel="stylesheet" href="{% static '/apps/jquery.mCustomScrollbar.min.css' %} ">
          <!-- Tweaks for older IEs-->
          <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/apps/font-awesome.css">
          <!-- owl stylesheets --> 
          <link rel="stylesheet" href="{% static '/apps/owl.carousel.min.css' %} ">
          <link rel="stylesheet" href="{% static '/apps/owl.theme.default.min.css' %} ">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
   
   <!-- header section start -->
   <div class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         
          </button> 
          <form class="form-inline my-2 my-lg-0">
                <h1><a href="tel:{{phone.phone}}"class="call_text">اتصل بنا :{{phone.phone}}</a></h1>
                <div class="search_icon"></div>
             </form>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item"><li class="nav-item">
                   <a class="nav-link" href="{% url 'contact' %} ">التواصل</a>
                </li> 
                   <a class="nav-link" href="{% url 'about' %} ">نبـذة عنا</a>
                </li>
                   <a class="nav-link" href="{% url 'index' %} ">الرئيسية</a>
                </li>
             </ul> 
          </div>
          <div class="logo"><a href="{% url 'index' %} "><img src="{{logo.logo.url}} "></a></div>
       </nav>
    </div>
 </div>
 {% block content %}
 {% endblock content %}
   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="fooer_logo"><img src="{% static '/apps/footer-logo.png' %}"></div>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by 
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">LET US HELP YOU</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by 
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">INFORMATION</h1>
               <p class="footer_lorem_text1">About Us<br>
                  Careers<br>
                  Sell on shopee<br>
                  Press & News<br>
                  Competitions<br>
                  Terms & Conditions
               </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="customer_text">OUR Design</h1>
               <p class="footer_lorem_text">There are many variat
                  ions of passages of L
                  orem Ipsum available
                  , but the majority h
                  ave suffered altera
                  tion in some form, by 
               </p>
            </div>
         </div>
      </div>
   </div>
   <!--  footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
   <div class="container">
      <div class="social_icon">
         <ul>
            <li><a href="#"><img src=" {% static '/apps/fb-icon.png' %} "></a></li>
            <li><a href="#"><img src=" {% static '/apps/twitter-icon.png' %} "></a></li>
            <li><a href="#"><img src=" {% static '/apps/instagram-icon.png' %} "></a></li>
            <li><a href="#"><img src=" {% static '/apps/linkedin-icon.png' %} "></a></li>
         </ul>
      </div>
      <p class="copyright_text">2022 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="{% static '/apps/jquery.min.js' %} "></script>
   <script src="{% static '/apps/popper.min.js' %} "></script>
   <script src="{% static '/apps/bootstrap.bundle.min.js' %} "></script>
   <script src="{% static '/apps/jquery-3.0.0.min.js' %} "></script>
   <script src="{% static '/apps/plugin.js' %} "></script>
   <!-- sidebar -->
   <script src="{% static '/apps/jquery.mCustomScrollbar.concat.min.js' %} "></script>
   <script src="{% static '/apps/custom.js' %} "></script>
   <!-- javascript --> 
   <script src="{% static '/apps/owl.carousel.js' %} "></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>